<!DOCTYPE html>
<html>
	<head>
        <%- include ('partials/head') %>
	</head>
	<body>
		<section>
			<div class="container">
                <div data-js="product__carousel" class="box one ground margin-top-15 padding-10 center display--none display--block">
                    <div class="container">
                        <div class="mobile-box one"><h1>box 1</h1></div>
                    </div>
                </div>
                <div data-js="product__carousel" class="box one ground margin-top-15 padding-10 center display--none">
                    <div class="container">
                        <div class="mobile-box two"><h1>box 2</h1></div>
                        <div class="mobile-box two"><h1>box 2</h1></div>
                    </div>
                </div>
                <div data-js="product__carousel" class="box one ground margin-top-15 padding-10 center display--none">
                    <div class="container">
                        <div class="mobile-box three"><h1>box 3</h1></div>
                        <div class="mobile-box three"><h1>box 3</h1></div>
                        <div class="mobile-box three"><h1>box 3</h1></div>
                    </div>
                </div>
                <div data-js="product__carousel" class="box one ground margin-top-15 padding-10 center display--none">
                    <div class="container">
                        <div class="mobile-box four"><h1>box 4</h1></div>
                        <div class="mobile-box four"><h1>box 4</h1></div>
                        <div class="mobile-box four"><h1>box 4</h1></div>
                        <div class="mobile-box four"><h1>box 4</h1></div>
                    </div>
                </div>
                <div data-js="product__carousel" class="box one ground margin-top-15 padding-10 center display--none">
                    <div class="container">
                        <div class="mobile-box five"><h1>box 5</h1></div>
                        <div class="mobile-box five"><h1>box 5</h1></div>
                        <div class="mobile-box five"><h1>box 5</h1></div>
                        <div class="mobile-box five"><h1>box 5</h1></div>
                        <div class="mobile-box five"><h1>box 5</h1></div>
                    </div>
                </div>
                <div data-js="product__carousel" class="box one ground margin-top-15 padding-10 center display--none">
                    <div class="container">
                        <div class="mobile-box six"><h1>box 6</h1></div>
                        <div class="mobile-box six"><h1>box 6</h1></div>
                        <div class="mobile-box six"><h1>box 6</h1></div>
                        <div class="mobile-box six"><h1>box 6</h1></div>
                        <div class="mobile-box six"><h1>box 6</h1></div>
                        <div class="mobile-box six"><h1>box 6</h1></div>
                    </div>
                </div>
                <div id="product-carousel-navigation" class="box one ground padding-10 center">
                    <button data-js="product__carousel--previous" name="carousel-previous" class="btn-pagination" autocomplete="off">&lsaquo;&lsaquo;</button>
                    <button data-js="product__carousel--next" name="carousel-next" class="btn-pagination" autocomplete="off">&rsaquo;&rsaquo;</button>
                </div>
            </div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
<link rel="stylesheet" type="text/css" href="/front-end/stylesheets/main.css">
    <script src="/front-end/javascripts/essentials/lib.js"></script>
    <script>
        lib.carousel.render("product__carousel", "product__carousel--previous", "product__carousel--next");
    </script>
</html>