<!DOCTYPE html>
<html>

<head>
	<%- include ('partials/head') %>
	<%- include ('partials/header') %>
</head>

<body>
	<%- include ('partials/nav') %>
	<section class="container">

	</section>
</body>
<%- include ('partials/footer') %>

</html>