<!DOCTYPE html>
<html>
	<head>
        <%- include ('partials/head') %>
	</head>
	<body class="image-fit" style="background-image: url('https://instagram.fgig5-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/91411471_1368034796731616_1558614907039443656_n.jpg?tp=1&_nc_ht=instagram.fgig5-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=DVT0jftKpwMAX_Uukk0&oh=aeaf2f604d50cbfcfe466b68578616e4&oe=606560EB')">
		<!-- IT'S SIMPLE POWERFULL FRAMEWORK -->
		<!-- <div class="container">
			<div class="b1 container avant-garde padding-10 center">
				<div class="box b9 center">Logo</div>
				<div class="box b8-9 center">RESTANTE DO HEADER</div>
			</div>
		</div>
		<div class="container padding-10">
			<div class="box b2 container ground avant-garde padding-10 center">
				<div class="box b4">You can create like... Everything you can imagine</div>
				<div class="box b3-4">And put your texts in any position you want in a simple way</div>
			</div>
			<div class="box b2 ground avant-garde padding-10"></div>
		</div> -->
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
</html>