<!DOCTYPE html>
<html>
	<head>
        <%- include ('partials/head') %>
	</head>
	<body>
		<div class="container">
            <!-- One -->
            <div class="box one box-hover margin-top-5">one</div>

            <!-- Two -->
            <div class="box two box-hover margin-top-5">two</div>
            <div class="box two box-hover margin-top-5"></div>

            <!-- Three -->
            <div class="box three box-hover margin-top-5">three</div>
            <div class="box three box-hover margin-top-5"></div>
            <div class="box three box-hover margin-top-5"></div>

            <!-- Four -->
            <div class="box four box-hover margin-top-5">four</div>
            <div class="box four box-hover margin-top-5"></div>
            <div class="box four box-hover margin-top-5"></div>
            <div class="box four box-hover margin-top-5"></div>

            <!-- Five -->
            <div class="box five box-hover margin-top-5">five</div>
            <div class="box five box-hover margin-top-5"></div>
            <div class="box five box-hover margin-top-5"></div>
            <div class="box five box-hover margin-top-5"></div>
            <div class="box five box-hover margin-top-5"></div>

            <!-- Six -->
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5"></div>
            <div class="box six box-hover margin-top-5"></div>
            <div class="box six box-hover margin-top-5"></div>
            <div class="box six box-hover margin-top-5"></div>
            <div class="box six box-hover margin-top-5"></div>

            <!-- Seven -->
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5"></div>
            <div class="box seven box-hover margin-top-5"></div>
            <div class="box seven box-hover margin-top-5"></div>
            <div class="box seven box-hover margin-top-5"></div>
            <div class="box seven box-hover margin-top-5"></div>
            <div class="box seven box-hover margin-top-5"></div>

            <!-- Eight -->
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5"></div>
            <div class="box eight box-hover margin-top-5"></div>
            <div class="box eight box-hover margin-top-5"></div>
            <div class="box eight box-hover margin-top-5"></div>
            <div class="box eight box-hover margin-top-5"></div>
            <div class="box eight box-hover margin-top-5"></div>
            <div class="box eight box-hover margin-top-5"></div>

            <!-- Nine -->
            <div class="box nine box-hover margin-top-5">nine</div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>
            <div class="box nine box-hover margin-top-5"></div>

            <!-- Ten -->
            <div class="box ten box-hover margin-top-5">ten</div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>
            <div class="box ten box-hover margin-top-5"></div>

             <!-- Eleven -->
            <div class="box eleven box-hover margin-top-5">eleven</div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>
            <div class="box eleven box-hover margin-top-5"></div>

            <!-- Twelve -->
            <div class="box twelve box-hover margin-top-5">twelve</div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>
            <div class="box twelve box-hover margin-top-5"></div>

            <div class="box one box-hover margin-top-5">-------</div>

            <div class="box one center margin-top-15 border">three</div>
            <div class="box three box-hover margin-top-5">three</div>
            <div class="box two-thirds box-hover margin-top-5">two-thirds</div>

            <div class="box one center margin-top-15 border">four</div>
            <div class="box four box-hover margin-top-5">four</div>
            <div class="box four box-hover margin-top-5">four</div>
            <div class="box two box-hover margin-top-5">two</div>

            <div class="box four box-hover margin-top-5">four</div>
            <div class="box three-fourths box-hover margin-top-5">three-fourths</div>

            <div class="box one center margin-top-15 border">five</div>
            <div class="box five box-hover margin-top-5">five</div>
            <div class="box five box-hover margin-top-5">five</div>
            <div class="box five box-hover margin-top-5">five</div>
            <div class="box two-fifths box-hover margin-top-5">two-fifths</div>

            <div class="box five box-hover margin-top-5">five</div>
            <div class="box five box-hover margin-top-5">five</div>
            <div class="box three-fifths box-hover margin-top-5">three-fifths</div>

            <div class="box five box-hover margin-top-5">five</div>
            <div class="box four-fifths box-hover margin-top-5">four-fifths</div>

            <div class="box one center margin-top-15 border">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box three box-hover margin-top-5">three</div>

            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box two box-hover margin-top-5">two</div>

            <div class="box six box-hover margin-top-5">six</div>
            <div class="box six box-hover margin-top-5">six</div>
            <div class="box two-thirds box-hover margin-top-5">two-thirds</div>

            <div class="box six box-hover margin-top-5">six</div>
            <div class="box five-sixths box-hover margin-top-5">five-sixths</div>

            <div class="box one center margin-top-15 border">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box two-sevenths box-hover margin-top-5">two-sevenths</div>

            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box three-sevenths box-hover margin-top-5">three-sevenths</div>

            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box four-sevenths box-hover margin-top-5">four-sevenths</div>

            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box five-sevenths box-hover margin-top-5">five-sevenths</div>

            <div class="box seven box-hover margin-top-5">seven</div>
            <div class="box six-sevenths box-hover margin-top-5">six-sevenths</div>

            <div class="box one center margin-top-15 border">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box four box-hover margin-top-5">four</div>

            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box three-eighths box-hover margin-top-5">three-eighths</div>

            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box two box-hover margin-top-5">two</div>

            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box five-eighths box-hover margin-top-5">five-eighths</div>

            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box three-fourths box-hover margin-top-5">three-fourths</div>
            
            <div class="box eight box-hover margin-top-5">eight</div>
            <div class="box seven-eighths box-hover margin-top-5">seven-eighths</div>
		</div>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
</html>