<!DOCTYPE html>
<html>
	<head>
        <%- include ('partials/head') %>
	</head>
	<body>
		<!-- IT'S SIMPLE POWERFULL FRAMEWORK -->
		<div class="container">
			<div class="b1 container avant-garde padding-10 center">
				<div class="box b9 font-30 center">Logo</div>
				<div class="box b8-9 center">RESTANTE DO HEADER</div>
			</div>
		</div>
		<div class="container padding-10">
			<div class="box b2 container ground avant-garde padding-10 center">
				<div class="box b4">You can create like... Everything you can imagine</div>
				<div class="box b3-4">And put your texts in any position you want in a simple way</div>
			</div>
			<div class="box b2 ground avant-garde padding-10"></div>
		</div>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
</html>