<!DOCTYPE html>
<html>
	<head>
        <%- include ('partials/head') %>
	</head>
	<body>
		<div class="container">
                  <div class="box one ground madesoulmaze padding-10 margin-top-10 center shadow">JA RIO MILITAR</div>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
</html>