<div class="box two margin-top-5 box-hover">
	<div class="container">
		<div class="mobile-box four padding-1 margin-top-5"><img class="center" src="/images/general/froid.png" style="width:100px;height:100px;border-radius:100%;"></div>
		<div class="mobile-box three-fourths margin-top-down-5"></div>

		<div class="mobile-box four margin-top-down-5">
			<h3 class="center">Froid</h3>
			<h4 class="center">Artista</h4>
		</div>
		<div class="mobile-box three-fourths padding-10"></div>
	</div>
</div>
<div class="box two margin-top-5">
    <div class="box one padding-5 box-border-hover box-hover">
		<div class="container">
    		<div class="mobile-box eight ground"><img src="/images/general/froid.png" style="width:100%;height:100%;border-radius:1%;"></div>
            
            <div class="mobile-box five-eighths v-center">
                <div class="mobile-box one padding-left-10">Sou Alaska (Prod. DJ Cleiton Rasta)</div>
                <div class="mobile-box one padding-left-10">Froid</div>
            </div>

            <div class="mobile-box twelve center">&#10084;</div>
            <div class="mobile-box twelve center">03:36</div>
            <div class="mobile-box twelve center">...</div>
    	</div>
	</div>
	<div class="box one margin-top-down-10 padding-5 box-hover">
		<div class="container">
    		<div class="mobile-box eight ground"><img src="/images/general/froid.png" style="width:100%;height:100%;border-radius:1%;"></div>
            
            <div class="mobile-box five-eighths v-center">
                <div class="mobile-box one padding-left-10">Sou Alaska (Prod. DJ Cleiton Rasta)</div>
                <div class="mobile-box one padding-left-10">Froid</div>
            </div>

            <div class="mobile-box twelve center">&#10084;</div>
            <div class="mobile-box twelve center">03:36</div>
            <div class="mobile-box twelve center">...</div>
    	</div>
	</div>
	<div class="box one padding-5 box-hover">
		<div class="container">
    		<div class="mobile-box eight ground"><img src="/images/general/froid.png" style="width:100%;height:100%;border-radius:1%;"></div>
            
            <div class="mobile-box five-eighths v-center">
                <div class="mobile-box one padding-left-10">Sou Alaska (Prod. DJ Cleiton Rasta)</div>
                <div class="mobile-box one padding-left-10">Froid</div>
            </div>

            <div class="mobile-box twelve center">&#10084;</div>
            <div class="mobile-box twelve center">03:36</div>
            <div class="mobile-box twelve center">...</div>
    	</div>
	</div>
</div>