<html lang="en">

<head>
  <%- include ('./../../../partials/head') %>
  <%- include ('./../../../partials/header') %>
</head>

<body>
  <%- include ('./../../../partials/nav') %>
</body>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    lib.image.zoom('https://cotalogo.sfo3.digitaloceanspaces.com/production/1720016620866-IMG_20240619_WA0024.webp');
  });
</script>

<footer>
  <%- include ('./../../../partials/footer') %>
</footer>

</html>