<html lang="en">

<head>
  <%- include ('./../../../partials/head') %>
  <%- include ('./../../../partials/header') %>
</head>

<body>
  <%- include ('./../../../partials/nav') %>
</body>

<script>
  document.addEventListener("DOMContentLoaded", async () => {
    lib.image.zoom('https://cotalogo.sfo3.digitaloceanspaces.com/production/1713815700081-cinto_tatico.webp');
  });
</script>

<footer>
  <%- include ('./../../../partials/footer') %>
</footer>

</html>