<!DOCTYPE html>
<html>
	<head>
        <%- include ('../../partials/head') %>
        <%- include ('../../partials/header') %>
	</head>
	<body>
        <%- include ('../../partials/nav') %>
		<div class="container">
            
		</div>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
</html>