<!DOCTYPE html>
<html>

<head>
  <%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"
    integrity="sha512-W7EehcwtSbRF63FIQlXEOOd5mnq0Et0V0nUOvwcUvjnCKgOLLYbqriQxEQSp63sfrkryxIg/A/O8v8O18QwQCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>hljs.highlightAll();</script>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/monokai-sublime.min.css"
    integrity="sha512-ade8vHOXH67Cm9z/U2vBpckPD1Enhdxl3N05ChXyFx5xikfqggrK4RrEele+VWY/iaZyfk7Bhk6CyZvlh7+5JQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include ('../../partials/nav') %>
  <section class="container">
    <div class="box b2 container">
      <div id="carousel-name" class="carousel-container h-center">
        <div class="carousel-slides h-center border">
          <div class="carousel-slide height-200">
            <img src="/images/favicon/doc-icon.png" class="image-prop max-height-200">
            <img src="/images/favicon/fmicon-black.png" class="image-prop max-height-200">
            <img src="/images/favicon/fmicon-white.png" class="image-prop max-height-200">
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
<script src="/front-end/javascripts/essentials/lib.js"></script>

<script>
  lib.Carousel('carousel-name');
</script>

</html>