<!DOCTYPE html>
<html>

<head>
  <%- include ('../../partials/head') %>
  <%- include ('../../partials/header') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js"
    integrity="sha512-W7EehcwtSbRF63FIQlXEOOd5mnq0Et0V0nUOvwcUvjnCKgOLLYbqriQxEQSp63sfrkryxIg/A/O8v8O18QwQCQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>hljs.highlightAll();</script>

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/monokai-sublime.min.css"
    integrity="sha512-ade8vHOXH67Cm9z/U2vBpckPD1Enhdxl3N05ChXyFx5xikfqggrK4RrEele+VWY/iaZyfk7Bhk6CyZvlh7+5JQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <%- include ('../../partials/nav') %>
  <section class="container">
    <div class="box b2 container">
      <div id="carousel-name" class="carousel-container h-center">
        <div class="carousel-slides h-center border">
          <div class="carousel-slide height-200">
            <img src="/images/favicon/doc-icon.png" class="image-prop max-height-200">
            <img src="/images/favicon/fmicon-black.png" class="image-prop max-height-200">
            <img src="/images/favicon/fmicon-white.png" class="image-prop max-height-200">
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
<script src="/front-end/javascripts/essentials/lib.js"></script>

<script>
  lib.Carousel('carousel-name');

  function makeImageZoomable(image) {
    let currentScale = 1;

    image.addEventListener("wheel", function (event) {
      event.preventDefault();

      // zoom in
      if (event.deltaY < 0) {
        currentScale += 0.1;
      }
      // zoom out
      else {
        currentScale -= 0.1;
      }

      image.style.transform = `scale(${currentScale})`;
    });

    image.addEventListener("touchstart", function (event) {
      let startTouchDistance = 0;
      let startScale = currentScale;

      if (event.touches.length >= 2) {
        const x1 = event.touches[0].clientX;
        const y1 = event.touches[0].clientY;
        const x2 = event.touches[1].clientX;
        const y2 = event.touches[1].clientY;

        startTouchDistance = Math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2);
      }

      image.addEventListener("touchmove", function (event) {
        if (event.touches.length >= 2) {
          const x1 = event.touches[0].clientX;
          const y1 = event.touches[0].clientY;
          const x2 = event.touches[1].clientX;
          const y2 = event.touches[1].clientY;

          const touchDistance = Math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2);
          const scale = startScale * touchDistance / startTouchDistance;

          currentScale = scale;
          image.style.transform = `scale(${scale})`;
        }
      });
    });
  };

  const slides = document.getElementById("carousel-name").querySelectorAll('.carousel-slides img');

  slides.forEach(slide => {
    makeImageZoomable(slide);
  });

</script>

</html>