<html>
<head>
  <% include ./../../../partials/head %>
  <style type="text/css">
    @media print {
      .pagebreak { 
        page-break-before: auto;
      }

      .container {
        page-break-inside:avoid;
      }

      .p-box {
        box-sizing: border-box; 
        align-self: flex-start; 
      }
    }
  </style>
</head>
<body>
  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>

  <div class="container a1 height-150 pagebreak margin-top-10">
    <div class="p-box a3 container height-150 border"></div>
    <div class="p-box a2-3 container height-150 border">
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
      <div class="p-box a3 height-50 border"></div>
    </div>
  </div>
</body>
</html>