<div class="container">
	<div class="mobile-box a6">
		<img class="opacity-hover-07 pointer width-100" onclick="window.location.href='/'" src="/images/favicon/fmicon-black.png">
	</div>
	<div class="mobile-box right padding-10 margin-top-10">
		<img class='icon size-60' onclick="openNav()" src="/images/favicon/doc-icon.png">
	</div>
</div>