<!-- header -->
<div class="container">
	<div class="mobile-box a7 padding-5">
		<img class="opacity-out-08 height-70 pointer center" onclick="window.location.href='/'"
			src="/images/favicon/fmicon-black.png">
	</div>
	<!-- <div class="mobile-box right padding-10 margin-top-10">
		<img class='icon size-60' onclick="openNav()" src="/images/favicon/doc-icon.png">
	</div> -->
</div>