<header>
	<img class="opacity-hover-07 pointer width-100" onclick="window.location.href='/'" src="/images/favicon/fmicon-black.png">
	<div class="right">
		<a><img class='icon size-60' onclick="openNav()" src="/images/favicon/doc-icon.png"></a>
	</div>
</header>