<div id="date-period-box" class="box b1 container border-st radius-5 padding-10 margin-top-10 margin-bottom-10">
  <div class=" box b3 container">
    <div class="box b1 lucida-grande bold underline center">Seleção de período</div>
    <div class="box b1 lucida-grande em09">Será retornado quantos dias foram selecionados no período entre da data
      inicial e a data final</div>
  </div>
  <form id="date-period-form" class="box b3 container">
    <input type="date" name="start_date" class="mobile-box b2 input-generic margin-top-5 center">
    <input type="date" name="end_date" class="mobile-box b2 input-generic margin-top-5 center">
    <input type="submit" class="box b1 submit-generic margin-top-5">
  </form>
  <div id="date-period-div" class="box b3 container border radius-5 padding-5"></div>
</div>