:root {
	--theme-box-ground-color: #fff;

	--theme-box-hover-background-color: #fff;
	--theme-box-hover-background-color-hover: #e1e1e1;
	--theme-box-hover-color: #000;

	--theme-box-border: 1px #f0f0f0 solid;
	--theme-box-border-hover: 1px #ccc solid;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.box {
	color: var(--theme-box-color);
	margin-left: 0.5%;
	margin-right: 0.5%;
	box-sizing: border-box;
    align-self: flex-start;
}

.mobile-box {
	background-color: transparent;
	color: var(--theme-box-color);
	margin-left: 0.5%;
	margin-right: 0.5%;
	box-sizing: border-box;
    align-self: flex-start;
}

.menu-box {
	display: flex;
	flex-direction: column;
}

.one { width: 100%; border-radius: 5px; }
.two { width: 49%; border-radius: 5px; }
.three { width: 32.33%; border-radius: 5px; }
.four { width: 24%; border-radius: 5px; }
.five { width: 19%; border-radius: 5px; }
.six { width: 15.66%; border-radius: 5px; }
.seven { width: 13.28%; border-radius: 5px; }
.eight { width: 11.5%; border-radius: 5px; }
.nine { width: 10.11%; border-radius: 5px; }
.ten { width: 9%; border-radius: 5px; }
.eleven { width: 8.09%; border-radius: 5px; }
.twelve { width: 7.33%; border-radius: 5px; }

/* Box fraction */
.two-thirds { width: 65.66%; border-radius: 5px; }

.three-fourths { width: 74%; border-radius: 5px; }

.two-fifths { width: 39%; border-radius: 5px; }
.three-fifths { width: 59%; border-radius: 5px; }
.four-fifths { width: 79%; border-radius: 5px; }

.five-sixths { width: 82.33%; border-radius: 5px; }

.two-sevenths { width: 27.57%; border-radius: 5px; }
.three-sevenths { width: 41.85%; border-radius: 5px; }
.four-sevenths { width: 56.14%; border-radius: 5px; }
.five-sevenths { width: 70.42%; border-radius: 5px; }
.six-sevenths { width: 84.71%; border-radius: 5px; }

.five-eighths { width: 61.5%; border-radius: 5px; }
.seven-eighths { width: 86.5%; border-radius: 5px; }

.ground {
	background-color: var(--theme-box-ground-color)
}

.fade-in {
	transition: all 0.5s ease 0s;
	opacity: 0s;
}

.fade-in:hover {
	transition: all 0.5s ease 0s;
	opacity: 1;
}

.box-border {
	border: var(--theme-box-border);
}

.box-border-hover {
	border: var(--theme-box-border);
}

.box-border-hover:hover {
	border: var(--theme-box-border-hover);
}

.box-hover {
	transition: all 0.5s ease 0s;
	background-color: var(--theme-box-hover-background-color);
}

.box-hover:hover {
	background-color: var(--theme-box-hover-background-color-hover);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}