.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-slides {
  display: flex;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  height: auto;
  display: none;
  margin: 0 auto;
}

.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 8px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carousel-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.carousel-content {
  object-fit: contain;
  width: 100%;
}