.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-slides {
  display: flex;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  height: auto;
  display: none;
  margin: 0 auto;
}

.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-left: 5px;
  width: auto;
  margin-top: -22px;
  padding: 4px 10px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(200, 200, 200, 0.5);
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s ease;
  border-radius: 50%;
  user-select: none;
}

.carousel-next {
  right: 5px;
  border-radius: 50%;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

.carousel-content {
  object-fit: contain;
  width: 100%;
}