.icon { opacity: 0.6; cursor: pointer; }
.icon:hover { opacity: 1; }

.input-generic {
	min-height: 30px;
	max-height: 30px;
	border: 1px solid var(--input);
}

.input-explicit { 
	background-color: var(--submit);
	min-height: 30px; 
	max-height: 30px; 
	border: 1px solid var(--explicit);
}

.submit-generic { 
	background-color: var(--submit);
	min-height: 30px; 
	max-height: 30px; 
	border: 1px solid var(--explicit); 
}

.input-confirm {
	background-color: var(--background);
	height: 30px; 
	border: 1px solid var(--border); 
}

.input-confirm:hover {
	background-color: var(--submit);
	cursor: pointer;
}

.tbl-show-link {
	border-radius: 50px;
	border: 1px solid #f0f0f0;
	padding-left: 8px;
	padding-right: 8px;
	opacity: 0.7;
	transition: all 0.4s ease 0s;
}

.tbl-show-link:hover {
	opacity: 1;
	color: #000;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid #8f9f94;
	transition: all 0.3s ease 0s;
}

.underline {
	margin: auto;
	border-bottom: 1px solid var(--explicit);
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.underline-explicit {
	margin: auto;
	border-bottom: 1px solid var(--explicit);
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.wrap { overflow-wrap: break-word; }
.nowrap { white-space: nowrap; }
.pre-wrap { white-space: pre-wrap; }