.icon { opacity: 0.6; cursor: pointer; }
.icon:hover { opacity: 1; }

.input-generic { 
	min-height: 30px; 
	max-height: 30px; 
	border: 1px solid var(--input); 
}

.input-explicit { 
	min-height: 30px; 
	max-height: 30px; 
	background-color: var(--explicit); 
	border: 1px solid var(--explicit);
}

.submit-generic { 
	background-color: var(--explicit);
	min-height: 30px; 
	max-height: 30px; 
	border: 1px solid var(--submit); 
}

.input-confirm { 
	height: 30px; 
	background-color: var(--background);
	border: 1px solid var(--border); 
}

.input-confirm:hover {
	background-color: var(--submit);
	cursor: pointer;
}

.underline {
	margin: auto;
	border-bottom: 1px solid var(--explicit);
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.underline-explicit {
	margin: auto;
	border-bottom: 1px solid var(--explicit);
	padding-bottom: 5px;
	margin-bottom: 7px;
}

.wrap { overflow-wrap: break-word; }
.nowrap { white-space: nowrap; }
.pre-wrap { white-space: pre-wrap; }