.icon {
	opacity: 0.6;
	cursor: pointer;
}

.icon:hover {
	opacity: 1;
}

.box-hover {}

.box-hover:hover {
	background-color: var(--light);
}

/*INPUTS*/
.input-generic {
	background-color: var(--ground);
	color: var(--color);
	min-height: 35px;
	max-height: 35px;
	border-radius: 5px;
	border: 1px solid var(--solid);
}

.input-explicit {
	background-color: var(--light);
	color: var(--color);
	min-height: 35px;
	max-height: 35px;
	border-radius: 5px;
	border: 1px solid var(--strong);
}

.submit-generic {
	background-color: var(--light);
	color: var(--color);
	min-height: 35px;
	max-height: 35px;
	border-radius: 5px;
	border: 1px solid var(--solid);
	transition: all 0.4s ease 0s;
}

.submit-generic:hover {
	background-color: var(--solid);
	transition: all 0.3s ease 0s;
}

/* LEGACY SELECTION ANIMATION */
.tbl-show-link {
	border-radius: 50px;
	border: 1px solid var(--solid);
	padding-left: 8px;
	padding-right: 8px;
	opacity: 0.7;
	transition: all 0.4s ease 0s;
}

.tbl-show-link:hover {
	opacity: 1;
	color: #000;
	border-radius: 2px;
	cursor: pointer;
	border: 1px solid var(--strong);
	transition: all 0.3s ease 0s;
}

/* SELECTION ANIMATION */
.input-show {
	opacity: 0.9;
	border-radius: 50px;
	transition: all 0.4s ease 0s;
}

.input-show:hover {
	opacity: 1;
	border-radius: 2px;
	transition: all 0.3s ease 0s;
}

.input-submit {
	background-color: var(--light);
	color: var(--color);
	min-height: 30px;
	height: 30px;
	border: 1px solid var(--solid);
	transition: all 0.4s ease 0s;
}

.input-submit:hover {
	background-color: var(--solid);
	transition: all 0.3s ease 0s;
}

.btn-solid {
	background-color: var(--solid);
	color: #fff;
	cursor: not-allowed;
}

.btn-strong {
	background-color: var(--strong);
	color: #fff;
	cursor: not-allowed;
}

.btn-act {
	background-color: #356ae6;
	color: #fff;
}

.btn-act:hover {
	background-color: #245ae5;
	color: #fff;
}

.btn-confirm {
	background-color: #21d256;
	color: #fff;
}

.btn-confirm:hover {
	background-color: #10c73c;
	color: #fff;
}

.btn-cancel {
	background-color: #ff241e;
	color: #fff;
}

.btn-cancel:hover {
	background-color: #ff0000;
	color: #fff;
}

.btn-alert {
	background-color: #ff9012;
	color: #fff;
}

.btn-alert:hover {
	background-color: #f38a12;
	color: #fff;
}