/*will be recome*/
.load-screen {
	position: fixed;
	background-color: var(--strong);
	opacity: 0.3;
	top: 0;
	left: 0;
	height: 100vh; /* to make it responsive */
	width: 100vw; /* to make it responsive */
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	z-index: 99999;
	visibility: hidden;
}

.loader {
	border: 16px solid var(--ground);
	border-radius: 50%;
	border-top: 16px solid var(--light);
	border-bottom: 16px solid var(--light);
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}