:root {
	--background: #f0f0f0;
	--ground: #fff;
	--color: #000;

	--input: #666; 
	--submit: #333;

	--border: #d2d2d2;
	--explicit: #646464;

	--disabled: #666;
}

* { margin: 0; padding: 0; }
body { background-color: var(--background); }

a { text-decoration: none; cursor: pointer; color: var(--explicit); }

select:required:invalid { color: var(--disabled); }
.hide-disabled [value=""][disabled] { display: none; }

input, select, button { background-color: var(--ground) }

button:focus { outline: none; box-shadow: none; }

table { border-collapse: collapse; word-break: break-all; }
tr td { border: 1px solid var(--border); }
tr:hover { background-color: var(--explicit); }

pre { tab-size: 2; }

.scroll-y { overflow-y: scroll; }
.scroll-x { overflow-x: scroll; }
.scroll-hide { overflow-y: hidden; }