/*Align*/
.v-center { margin: auto; }
.h-center { text-align: center; }

.center {
	margin: auto;
	text-align: center;
	align-items: center;
}

.top { top:0; }
.left { float: left; }
.right { float: right; }

.margin-top-1 { margin-top: 1px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }

.margin-bottom-1 { margin-bottom: 1px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }

.margin-top-down-1 { margin-top: 1px; margin-bottom: 1px; }
.margin-top-down-5 { margin-top: 5px; margin-bottom: 5px; }
.margin-top-down-10 { margin-top: 10px; margin-bottom: 10px; }
.margin-top-down-15 { margin-top: 15px; margin-bottom: 15px; }

.padding-1 { padding: 1px;} 
.padding-5 { padding: 5px;} 
.padding-10 { padding: 10px;} 
.padding-15 { padding: 15px;} 

.padding-left-1 { padding-left: 1px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }

.padding-right-1 { padding-right: 1px; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }

.size-10 {
    max-width: 10px;
    max-height: 10px;
}

.size-15 {
    max-width: 15px;
    max-height: 15px;
}

.size-20 {
    max-width: 20px;
    max-height: 20px;
}

.size-25 {
    max-width: 25px;
    max-height: 25px;
}

.size-30 {
    max-width: 30px;
    max-height: 30px;
}

.size-35 {
    max-width: 35px;
    max-height: 35px;
}

.size-40 {
    max-width: 40px;
    max-height: 40px;
}

.size-45 {
    max-width: 45px;
    max-height: 45px;
}

.size-50 {
    max-width: 50px;
    max-height: 50px;
}

.size-60 {
    max-width: 60px;
    max-height: 60px;
}

.size-70 {
    max-width: 70px;
    max-height: 70px;
}

.size-80 {
    max-width: 80px;
    max-height: 80px;
}