@media (max-width: 380px) {
	.box { width: 100%; }
	.btn { width: 100%; }
}

@media (max-width: 440px) {
	.box { width: 100%; }
	.btn { width: 100%; }
}

@media (max-width: 780px) {
	.box { width: 100%; }
	.btn { width: 100%; }
}

@media (max-width: 800px) {
	.hide-in-mobile { display: none; }
	.box { width:100%; }
	.btn { width:100%; }
}

@media (min-width: 800px) {
	.hide-in-web { display: none }
}

@media print {
	.noprint,
	.noprint * {
		display: none !important;
	}
	.pagebreak {
		page-break-before: auto;
	}
	.container {
		page-break-inside: avoid;
	}
	.p-box {
		box-sizing: border-box;
		align-self: flex-start;
	}
}

.em01 { font-size: 0.1em; }
.em02 { font-size: 0.2em; }
.em03 { font-size: 0.3em; }
.em04 { font-size: 0.4em; }
.em05 { font-size: 0.5em; }
.em06 { font-size: 0.6em; }
.em07 { font-size: 0.7em; }
.em08 { font-size: 0.8em; }
.em09 { font-size: 0.9em; }
.em10 { font-size: 1em; }
.em11 { font-size: 1.1em; }
.em12 { font-size: 1.2em; }
.em13 { font-size: 1.3em; }
.em14 { font-size: 1.4em; }
.em15 { font-size: 1.5em; }
.em16 { font-size: 1.6em; }
.em17 { font-size: 1.7em; }
.em18 { font-size: 1.8em; }
.em19 { font-size: 1.9em; }
.em20 { font-size: 2em; }
.em21 { font-size: 2.1em; }
.em22 { font-size: 2.2em; }
.em23 { font-size: 2.3em; }
.em24 { font-size: 2.4em; }
.em25 { font-size: 2.5em; }
.em26 { font-size: 2.6em; }
.em27 { font-size: 2.7em; }
.em28 { font-size: 2.8em; }
.em29 { font-size: 2.9em; }
.em30 { font-size: 3em; }
.em31 { font-size: 3.1em; }
.em32 { font-size: 3.2em; }
.em33 { font-size: 3.3em; }
.em34 { font-size: 3.4em; }
.em35 { font-size: 3.5em; }
.em36 { font-size: 3.6em; }
.em37 { font-size: 3.7em; }
.em38 { font-size: 3.8em; }
.em39 { font-size: 3.9em; }
.em40 { font-size: 4em; }

.rem01 { font-size: 0.1rem; }
.rem02 { font-size: 0.2rem; }
.rem03 { font-size: 0.3rem; }
.rem04 { font-size: 0.4rem; }
.rem05 { font-size: 0.5rem; }
.rem06 { font-size: 0.6rem; }
.rem07 { font-size: 0.7rem; }
.rem08 { font-size: 0.8rem; }
.rem09 { font-size: 0.9rem; }
.rem10 { font-size: 1rem; }
.rem11 { font-size: 1.1rem; }
.rem12 { font-size: 1.2rem; }
.rem13 { font-size: 1.3rem; }
.rem14 { font-size: 1.4rem; }
.rem15 { font-size: 1.5rem; }
.rem16 { font-size: 1.6rem; }
.rem17 { font-size: 1.7rem; }
.rem18 { font-size: 1.8rem; }
.rem19 { font-size: 1.9rem; }
.rem20 { font-size: 2rem; }
.rem21 { font-size: 2.1rem; }
.rem22 { font-size: 2.2rem; }
.rem23 { font-size: 2.3rem; }
.rem24 { font-size: 2.4rem; }
.rem25 { font-size: 2.5rem; }
.rem26 { font-size: 2.6rem; }
.rem27 { font-size: 2.7rem; }
.rem28 { font-size: 2.8rem; }
.rem29 { font-size: 2.9rem; }
.rem30 { font-size: 3rem; }
.rem31 { font-size: 3.1rem; }
.rem32 { font-size: 3.2rem; }
.rem33 { font-size: 3.3rem; }
.rem34 { font-size: 3.4rem; }
.rem35 { font-size: 3.5rem; }
.rem36 { font-size: 3.6rem; }
.rem37 { font-size: 3.7rem; }
.rem38 { font-size: 3.8rem; }
.rem39 { font-size: 3.9rem; }
.rem40 { font-size: 4rem; }

/*
@media all and (min-width: 50px)   {  body  { font-size:0.1em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.2em;  } }
@media all and (min-width: 150px)  {  body  { font-size:0.3em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.4em;  } }
@media all and (min-width: 250px)  {  body  { font-size:0.5em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.6em;  } }
*/

@media all and (min-width: 50px)   {  body  { font-size:0.7em;  } }
@media all and (min-width: 100px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 150px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 200px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 250px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 300px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 350px)  {  body  { font-size:0.7em;  } }
@media all and (min-width: 400px)  {  body  { font-size:0.8em;  } }
@media all and (min-width: 450px)  {  body  { font-size:0.9em;  } }
@media all and (min-width: 500px)  {  body  { font-size:1.0em;  } }