.sidenav {
  height: 100%;
  width: 0;
  position:fixed!important;
  z-index: 51;
  top: 0;
  right: 0;
  background-color: #fff;
  transition: 0.5s;
  padding-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  color: #333;
  right: 5%;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  color: #000;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 40px;}
}