<!DOCTYPE html>
<html>
<head>
<%- include ('../../partials/head') %>
<%- include ('../../partials/header') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/highlight.min.js" integrity="sha512-W7EehcwtSbRF63FIQlXEOOd5mnq0Et0V0nUOvwcUvjnCKgOLLYbqriQxEQSp63sfrkryxIg/A/O8v8O18QwQCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>hljs.highlightAll();</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.0.1/styles/monokai-sublime.min.css" integrity="sha512-ade8vHOXH67Cm9z/U2vBpckPD1Enhdxl3N05ChXyFx5xikfqggrK4RrEele+VWY/iaZyfk7Bhk6CyZvlh7+5JQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<%- include ('../../partials/nav') %>
<section class="container">
	<div id="shadow-snippet" class="box b2 margin-top-10"></div>
	<div class="box b2 container border padding-10 margin-top-10">
		<div class="box b1 underline center bold">Shadows</div>
		<div class="box b2 padding-10 shadow margin-top-5">shadow</div>
		<div class="box b2 padding-10 shadow-hover margin-top-5">shadow-hover</div>

		<div class="box b2 padding-10 shadow-2 margin-top-5">shadow-2</div>
		<div class="box b2 padding-10 shadow-2-hover margin-top-5">shadow-2-hover</div>
	</div>

	<div id="border-snippet" class="box b2 margin-top-10"></div>
	<div class="box b2 container border padding-10 margin-top-10">
		<div class="box b1 padding-10 underline center bold">Borders</div>
		<div class="box b2 border padding-10 margin-top-5">border</div>
		<div class="box b2 border-2 padding-10 margin-top-5">border-2</div>

		<div class="box b2 border-explicit padding-10 margin-top-5">border-explicit</div>
		<div class="box b2 border-explicit-2 padding-10 margin-top-5">border-explicit-2</div>
		
		<div class="box b2 border-top padding-10 margin-top-5">border-top</div>
		<div class="box b2 border-top-2 padding-10 margin-top-5">border-top-2</div>
		
		<div class="box b2 border-left padding-10 margin-top-5">border-left</div>
		<div class="box b2 border-left-2 padding-10 margin-top-5">border-left-2</div>
		
		<div class="box b2 border-right padding-10 margin-top-5">border-right</div>
		<div class="box b2 border-right-2 padding-10 margin-top-5">border-right-2</div>
		
		<div class="box b2 border-bottom padding-10 margin-top-5">border-bottom</div>
		<div class="box b2 border-bottom-2 padding-10 margin-top-5">border-bottom-2</div>
	</div>

</section>
</body>
<script src="/front-end/javascripts/essentials/lib.js"></script>

<script>
	// Get the root element
	// lib.updateCssVariable(':root','--background','#4b3621');
	// lib.updateCssVariable(':root','--ground','#685441');
	// lib.updateCssVariable(':root','--color','#ffffff');

	// lib.updateCssVariable(':root','--input','#e0dad6');
	// lib.updateCssVariable(':root','--submit','#a29488');

	// lib.updateCssVariable(':root','--border','#857363');
	// lib.updateCssVariable(':root','--explicit','#e0dad6');
	// lib.updateCssVariable(':root','--disabled','#c1b6ae');

	// SHADOW
	let shadow_html = `<div class="box b2 container border padding-10">
	<div class="box b1 underline center bold">Shadows</div>
	<div class="box b2 padding-10 shadow margin-top-5">shadow</div>
	<div class="box b2 padding-10 shadow-hover margin-top-5">shadow-hover</div>

	<div class="box b2 padding-10 shadow-2 margin-top-5">shadow-2</div>
	<div class="box b2 padding-10 shadow-2-hover margin-top-5">shadow-2-hover</div>
</div>`;
	shadow_html = lib.formatHTML(shadow_html);
	document.getElementById("shadow-snippet").innerHTML = shadow_html;

	// BORDER
	let border_html = `<div class="box b2 container border padding-10">
	<div class="box b1 underline center bold">Borders</div>
	<div class="box b2 border padding-10 margin-top-5">border</div>
	<div class="box b2 border-2 padding-10 margin-top-5">border-2</div>
	
	<div class="box b2 border-explicit padding-10 margin-top-5">border-explicit</div>
	<div class="box b2 border-explicit-2 padding-10 margin-top-5">border-explicit-2</div>
	
	<div class="box b2 border-top padding-10 margin-top-5">border-top</div>
	<div class="box b2 border-top-2 padding-10 margin-top-5">border-top-2</div>
	
	<div class="box b2 border-left padding-10 margin-top-5">border-left</div>
	<div class="box b2 border-left-2 padding-10 margin-top-5">border-left-2</div>
	
	<div class="box b2 border-right padding-10 margin-top-5">border-right</div>
	<div class="box b2 border-right-2 padding-10 margin-top-5">border-right-2</div>
	
	<div class="box b2 border-bottom padding-10 margin-top-5">border-bottom</div>
	<div class="box b2 border-bottom-2 padding-10 margin-top-5">border-bottom-2</div>
</div>`;
	border_html = lib.formatHTML(border_html);
	document.getElementById("border-snippet").innerHTML = border_html;
	
</script>
</html>